@model List<DOAN_LTW_HVC.Models.LOAISANPHAM>
@{
    ViewBag.Title = "Category";
}
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Mã loại</th>
                <th scope="col">Tên loại</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(row => item.MALOAI)</td>
                    <td>@Html.DisplayFor(row => item.TENLOAI)</td>
                </tr>
            }
        </tbody>
    </table>

</div>